@model Event_Mangement_System_Front_End.Models.Login

<div class="container">
    <h2>Login</h2>
    <form asp-controller="Attendee" asp-action="Login" method="post">

        <div class="form-group">
            <label asp-for="Email" class="control-label cus_label"></label>
            <input asp-for="Email" type="email" class="form-control cus_label" />
            <span asp-validation-for="Email" class="text-danger cus_label"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label cus_label"></label>
            <input asp-for="Password" type="password" class="form-control cus_label" />
            <span asp-validation-for="Password" class="text-danger cus_label"></span>
        </div>

        <div class="text-end ">
            <button type="submit" class="btn btn-success btn-block">Login</button>
        </div>
        <p class="text-center text-muted mb-0 mt-3">
            Not a member? <a href="/Attendee/SignUp"
            class="fw-bold text-body"><u>Register</u></a>
        </p>
    </form>
</div>
