<div class="container-fuild">
     <div class="row justify-content-center cus_pop">
         <div class="col-md-8">
             <div class="card">
                 <div class="card-header text-center bg-danger text-white">
                     <h4>Error</h4>
                 </div>
                 <div class="card-body text-center">
                     <p class="lead">Email And Password Not Found.</p>
                 </div>
                 <div class="card-footer text-center">
                    <a href="@Url.Action("Login")" class="btn btn-secondary">Ok</a>
                 </div>
             </div>
         </div>
     </div>
</div>